<?xml version="1.0"?>
<config>
    <modules>
        <Defacto_FixFormKeyException>
            <version>1.0.0</version>
        </Defacto_FixFormKeyException>
    </modules>
    <global>
        <helpers>
            <defacto_fixformkeyexception>
                <class>Defacto_FixFormKeyException_Helper</class>
            </defacto_fixformkeyexception>
        </helpers>
        <models>
            <defacto_fixformkeyexception>
                <class>Defacto_FixFormKeyException_Model</class>
            </defacto_fixformkeyexception>
        </models>
        <events>
            <controller_action_predispatch_checkout_cart_ajaxdelete>
                <observers>
                    <defacto_fixformkeyexception_validate_form_key>
                        <class>defacto_fixformkeyexception/observer</class>
                        <method>preventAjaxInvalidKeyReport</method>
                    </defacto_fixformkeyexception_validate_form_key>
                </observers>
            </controller_action_predispatch_checkout_cart_ajaxdelete>
            <controller_action_predispatch_checkout_cart_ajaxupdate>
                <observers>
                    <defacto_fixformkeyexception_validate_form_key>
                        <class>defacto_fixformkeyexception/observer</class>
                        <method>preventAjaxInvalidKeyReport</method>
                    </defacto_fixformkeyexception_validate_form_key>
                </observers>
            </controller_action_predispatch_checkout_cart_ajaxupdate>
        </events>
    </global>
</config>